In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_excel("Split Info/Sample B.xlsx")

This is a small sample of an almost 10,000 line data set.  Too much to copy & paste by hand, besides the potential for error. Each variable needed to be in its own labeled column, not grouped into one column, such as [1/1/1901], [Last_name_1], [First_name_1], [City_1] The data was confidential, so I redacted it.

In the main set, some records had one person, one person and a business, just a business, several people, or several people and a business. Some had multiple license numbers, starting with several prefixes, some simply had "Not licensed" in that field. So, while luckily there was a lot of consistency, there was also a lot of variability.

In [7]:
df

,Name and Location,the string,why the string
0,"Last_name_1,First_name_1,",Date: 1/1/1901,corresponding string of text 1
1,City: City_1,NaN,NaN
2,County: OUT OF STATE,String of text 1,NaN
3,Zip Code: 00001,NaN,NaN
4,NaN,NaN,NaN
5,NaN,NaN,NaN
6,License #: AA000000,NaN,NaN
7,NaN,NaN,NaN
8,Complaint # AA0000000,NaN,NaN
9,"Company: Company_Name_1, INC",Date: 2/2/1901,corresponding string of text 2
10,City: City_2,NaN,NaN
11,County: County_2,String of text 2,NaN
12,Zip Code: 00002,NaN,NaN
13,NaN,NaN,NaN
14,Company: Company_Name_1 City LIC AA0001,NaN,NaN
15,City: City_2,NaN,NaN
16,County: County_2,NaN,NaN
17,Zip Code: 00002,NaN,NaN
18,NaN,NaN,NaN
19,NaN,NaN,NaN
20,License: Not Licensed,NaN,NaN
21,NaN,NaN,NaN
22,Complaint # AA0000001,NaN,NaN
23,"Last_Name_2, First_Name_2",Date: 3/3/1919,corresponding string of text 3
24,NaN,NaN,NaN
25,Company: Company_Name_2,String of text 3,NaN
26,City: city_3,NaN,NaN
27,County: County_3,NaN,NaN
28,Zip Code: 00003,NaN,NaN
29,NaN,NaN,NaN
30,NaN,NaN,NaN
31,License #: ME0003,NaN,NaN
32,NaN,NaN,NaN
33,Complaint # AA0000003,NaN,NaN

The line below is the typical use of split. It's lovely, separates the variables as described, 
except for one thing.

In [ ]:
#df['Original_Col'].str.split('Variable:', expand=True)

This is the result of split. It removes everything to the left of the delimiter, and the delimiter which is **':'** in this case.

In [158]:
#df = pd.concat((df, df['Original_Col'].str.split('Date:', expand=True)), axis=1, ignore_index=True) #Start with the first row of variables, as 
#everything will step down nicely when you split, which is more readable.

Concat is essential, so that the data ends up in one df. If your goal is simply a new column, use split without concat.

Keep the first/original column until you have finished, so you can compare your split columns and ensure no data is missing. Below, it is df[0].
The city name is now in its own column, the rest of the info (sans city name) is now in an almost-duplicate column. You will split from the duplicate column. As you continue to split, you can and should drop the column you split from, because they are redundant and messy. Below, df[6].

Note: sometimes things like 'License #' and 'License: Not Licensed' will have to be dealt with somewhat differently. I noted how many variations of the variable name there were, split based on each delimiter, then recombined to appropriate columns.

**After** everything was split, I used cumsum to add a "record number" to each group of record data. I based it on 'date:' as that was the first data row in each record.

In [ ]:
 df['record number'] = df[col with each var 2].ne(df['Var2']).cumsum()

In [ ]:
then used .ffill() based on the record number, which should labeled each row that belongs to the label

In [ ]:
df['col_2'] = df['col_1'].replace(0, np.NaN).ffill()

I left the NaN values until after the record numbers were added. It isn't hard to replace them with empty strings, or put them back, as needed, based on what you are trying to manipulate.

In [ ]:
#df.replace('', np.nan, inplace=True)

At this point, I exported and went back into excel for manual cleaning and organizing.
 
I searched the df for any symbol that might not occur at all, and found that '@' did not. I used '@' as a place holder for empty values, because in I discovered that later recombining records into a single row won't work properly without it.

once place holders are there, and everything was organized to satisfaction, I return to python

In [ ]:
#df.groupby('record number', as_index=False).first()

 This flattened the records into one row, based on their 'record number'. The result was only one record per row, with each column containing a separate variable for the record. Sucess! 
 
 There were a bunch of rows with just place holders at the bottom of the df. Those were dropped, but I looked closely though, in case there is any data mixed in there, and suggest anyone do the same.
 
 Then, I went back and compared the new df to the original, to be sure that no data was corrupted.
 
 The place holders were replaced with empty strings, but of course the options are open there.

In [ ]:
df.to_excel('Your_Pathname_Here/Flattened Sample B.xlsx', index = False)

#export to computer as new xlsx file

#If dealing with a similarly dense column that is NOT delimited or labeled, I wonder if appending conditionally would work 
#https://pandas.pydata.org/docs/reference/api/pandas.Series.str.cat.html